[Desktop Entry]
Version=1.0
Name=Mgc Core
Comment=Mgc P2P Cryptocurrency
Comment[de]=Verbinde mit dem Mgc peer-to-peer Netzwerk
Comment[fr]=Mgc, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Mgc, eşten eşe kriptografik sanal para birimi
Exec=mgc-qt %u
Terminal=false
Type=Application
Icon=mgc128
MimeType=x-scheme-handler/mgc;
Categories=Office;Finance;
StartupWMClass=Mgc-qt
